


nav {
    height: 80px;

}


main {
    display: flex;
    flex-wrap: wrap;

}

.container {
   

    flex-basis: 25%;
    margin: 10px 40px;
    height: 200px;


}

form {

    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 50%;
    height: 300px;
}


input {
    text-indent: 5%;
}
#eventTitle {
    position: relative;
}
#eventCards {
    position: relative;


}

.storage-list-item:hover {
    background-color: #0EA5E9;
    border-radius: 4px;


}

@media screen and (max-width: 1024px) {
    aside {
        margin-left: 34%;
        margin-bottom: 20px;
    }

    #newArtists {
        position: relative;
        top: 10px;
        
    }


}

@media screen and (max-width:576px)  {
    aside {
        margin-left: 34%;
        margin-bottom: 20px;
    }

    #newArtists {
        position: relative;
        top: 10px;
        width: 580px;
        
    }
    #event-container {
        position: relative;
        left: 90px;
    }
    h1 {
        position: relative;
        left: 70px;
    }
    #eventTitle {
        font-size: 18pt;
    }



}