


nav {
    height: 80px;

}


main {
    display: flex;
    flex-wrap: wrap;

}

.container {
   

    flex-basis: 25%;
    margin: 10px 40px;
    height: 200px;


}

form {

    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 50%;
    height: 300px;
}
ol {list-style: none; counter-reset: li}

input {
    text-indent: 5%;
}

.eventCard {
    color: aliceblue;
}